    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Who We Are</h2>
                <p>Don’t let<input class="mm-input" type="text"/> dictate your relationship to the supply chain!</p>
                <p>More&ampMore Unlimited is a Limited Liability Collective (LLC) that is here to help you navigate a world without bounds. We bring <input class="mm-input" type="text"/> to the global supply chain. Our goal is to <input class="mm-input" type="text"/> in the global distributed capitalist network. </p>
                <p>More&ampMore has, through years of experience living in fictions about the world</p>
                <p>For like it or not, you live inside a <input class="mm-input" type="text"/> that prefers you to think of yourself as the consumer, the end of the line. The happy ending –  when your<input class="mm-input" type="text"/> and <input class="mm-input" type="text"/> gets popped in the trunk of your <input class="mm-input" type="text"/>, or the <input class="mm-input" type="text"/> arrives at your door.</p>
                </br>
                <p>
                    More&More Unlimited (an Illogistics Company™) is a collective founded by members <a href="http://www.o-matic.com/">Marina Zurkow </a>, <a href="http://sarahrothberg.com/">Sarah Rothberg</a>, and <a href="http://www.suryamattu.com">Surya Mattu</a>. We are interested in global systems.
                </p>
                <p>
                Some of our past projects include: a <a href="http://www.bitforms.com/zurkow-2016/installation-view-3">pop-up store</a> of fungus/plaster/3D-printed sculptures of globally traded commodities, a line of swimsuits called <a href="http://www.bitforms.com/zurkow-2016/installation-view-4">Tiny Containers</a>(which visualize global trade relationships), <a href="static/postcards.html">postcards</a> portraying nations as their commodities, workshops about global futures, and a radio which picks up info about boats passing by in the New York Harbor.
                </p>
            </div>
        </div>
    </section>