    <!-- Download Section -->
    <section id="download" class="content-section text-center">
            <div class="container">
            <div class="col-lg-8">
                <img src="https://dl.dropboxusercontent.com/u/101971230/moreAndMore_web_assets/swimsuits_bg.png"  style='height: 100%; width: 100%; object-fit: contain'/>
            </div>
            <div class="col-lg-4">
                <h2>The More&ampMore Store</h2>
                <p>Mementos from the trade hyperobject</p>
                <a href="https://samatt.github.io/mm-new/static/under_construction.html" class="mmb btn btn-default btn-lg">Tiny Container Swimsuits</a>
                <a href="https://samatt.github.io/mm-new/static/under_construction.html" class="mmb btn btn-default btn-lg">Relabeling Service</a>
                <a href="https://samatt.github.io/mm-new/static/postcards.html" class="mmb btn btn-default btn-lg">Export Postcards</a>
            </div>
        </div>
    </section>