    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-6 col-lg-offset-6">
                    <h2>The More&ampMore Store</h2>
                    <p>Mementos from the trade hyperobject</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Tiny Container Swimsuits</a>
                    <br/>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Relabeling Service</a>
                    <br/>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Export Postcards</a>

                </div>
            </div>
        </div>
    </section>