    <!-- About Section -->
    <section id="futures" class="container content-section">
        <div class="row">
            <div class="col-lg-6">
                <img src="https://samatt.github.io/mmnew/img/ks.png"  style='height: 100%; width: 100%; object-fit: contain'/>
            </div>
            <div class="col-lg-6">
                <h2>Investing In Futures</h2>
                <p>A deck of cards, world-building workshops, and artworks designed to help you imagine alternative global futures.</p>
                <a href="https://www.kickstarter.com/projects/moreandmoreunlimited/investing-in-futures" class="mmb btn btn-default btn-lg" target="_blank">SEE THE PROJECT!</a>
                </br>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeVLVU9Bu31usKpLyX2RCyXvdfAsfzcaHPLSTQvBctvpZKTmw/viewform" class="mmb btn btn-default btn-lg" target="_blank">ORDER CARDS</a>
            </div>
        </div>
    </section>
