    <!-- Download Section -->
    <section id="icons" >
            <div class="container">
            <div class="col-lg-12" style="margin: 0 auto;" >
                <img class="fun-icons animated infinite tada"  src="img/icons/2915.png"
                    style='height:7; width: 7%; object-fit: contain'/>
                <img class="fun-icons animated infinite tada"  src="img/icons/2527.png"
                    style='height: 7%; width: 7%; object-fit: contain'/>
                <img class="fun-icons animated infinite tada"  src="img/icons/0814.png"
                    style='height: 7%; width: 7%; object-fit: contain'/>
                <img class="fun-icons animated infinite tada"  src="img/icons/6208.png"
                    style='height: 7%; width: 7%; object-fit: contain'/>
                <img class="fun-icons animated infinite tada"  src="img/icons/0201.png"
                    style='height: 7%; width: 7%; object-fit: contain'/>
                <img class="fun-icons animated infinite tada"  src="img/icons/0809.png"
                    style='height: 7%; width: 7%; object-fit: contain'/>
                <img class="fun-icons animated infinite tada"  src="img/icons/9003.png"
                    style='height: 7%; width: 7%; object-fit: contain'/>
                <img class="fun-icons animated infinite tada"  src="img/icons/8904.png"
                    style='height: 7%; width: 7%; object-fit: contain'/>
                <img class="fun-icons animated infinite tada"  src="img/icons/6205.png"
                    style='height: 7%; width: 7%; object-fit: contain'/>
                <img class="fun-icons animated infinite tada"  src="img/icons/0810.png"
                    style='height: 7%; width: 7%; object-fit: contain;'/>
            </div>
            </div>
    </section>