    <!-- Download Section -->
    <section id="unltd" class="content-section">
            <div class="container">
                <div class="col-lg-6 ">
                    <h1>More&ampMore UnLimited</h1>
                    <h4>You are value, productivity, and just-in-time. </h4>


                    <p>INCOMPLETE PLANS FOR OUR 2017 FORECAST:</p>

                    <p>
                    <strong>Platinum: Flowgistics™</strong>
                    Commodities are independent of you and do what they want are not human- dependent!
                    We can help you think of yourself as a vector not a consumer by providing you with the logistics necessary to keep commodities flowing.
                    </p>

                    <p>
                    <strong>Copper: Illogistics™</strong>

                    We bring you to the stuff
                    To get you stuff faster
                    By bringing consumers to the factories to pick up components and putting them together themselves.
                    </p>

                    <p>
                    <strong>Aluminum: TinyFlow™</strong>

                    Your house as a supply chain. We can help you optimize you home to build efficient supply networks around centers of demand.
                    </p>
                    <!-- <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a> -->
                </div>
                <div class="col-lg-6">
                    <img src="https://s3.amazonaws.com/mmnew/unltd_bg.png"
                         style='height: 100%; width: 100%; object-fit: contain'/>
                </div>
            </div>
    </section>